__pycache__
env
venv
.venv
.idea
*.sqlite3
.history
.env.dev
.env.dev
.env.prod
.env.prod.db

node_modules

# Blog
/blog/*

# Except
!/blog/Dockerfile
!/blog/.env.example
!/blog/wp-config.php

# Themes
!/blog/wp-content/
/blog/wp-content/*
!/blog/wp-content/themes/
/blog/wp-content/themes/*
!/blog/wp-content/themes/growthfoundry

# Certificates
*.pem

# Static files
app/static/dist
