{% extends 'marketing/base/base.html' %}

{% load static %}

{% block meta %}
    <title>Enterprise SEO for large scale websites and large | growthfoundry.com</title>
    <meta name="description" content="Growth Foundry has worked with large websites across a variety of enterprise SEO campaigns including technical on page, link building and issue auditing">
{% endblock %}

{% block body %}

    <div id="trigger-service">

        <div id="stiky-img" data-aos="fade" data-aos-delay="400">
            <img src="{% static "marketing/img/content/enterprize-seo.svg" %}" alt="">
        </div>

        <div id="trigger-service-section-1">
            {% include 'marketing/includes/header.html' %}

            <div class="container" data-aos="fade" data-aos-delay="700">
                <div class="breadcrumbs">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Enterprise SEO</li>
                </ul>
                </div>
            </div>

            <section class="service_intro service_intro--one_page">
                <div class="container">
                    <div class="service_intro__grid">
                        <h2 class="section_title service_intro__title" data-da=".service_intro__title-pc, 1024" data-aos="fade-up" data-aos-delay="100">
                            Enterprise SEO Agency: Large Scale SEO Campaigns For Large Scale Digital Appetites
                        </h2>
                        <div class="service_intro__img">
                            <img src="{% static "marketing/img/content/enterprize-seo.svg" %}" alt="">
                        </div>
                        <div class="service_intro__text">
                            <div class="service_intro__title-pc"></div>
                            <div class="section_subtitle" data-aos="fade-up" data-aos-delay="150">
                                When you are competing in organic ecosystems where tens of millions of clicks are up for grabs, you need a blend of tech and technicians that can ensure your rankings stand out amidst the noise of your industry competitors
                            </div>
                            <div class="richtext" data-aos="fade-up" data-aos-delay="200">
                                <p>Our multi-billion dollar in net worth clientele relies on the high-performance output of Growth Foundry’s enterprise SEO team. Our strategy for large scale campaigns lies in our ability to rapidly deploy SEO changes, split tests, and optimizations</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="service_hex_section"  id="trigger-service-section-2">
            <div class="container">
                <div class="service_hex">
                    <div class="service_hex__before">
                        <svg viewBox="0 0 728 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#service_hex_shadow)">
                            <path d="M364 0.000703209L6.10352e-05 116.012L728 116.012L364 0.000703209Z" fill="white" />
                            </g>
                        </svg>
                    </div>
                    <div class="service_hex__content">
                    <h2 class="section_title" data-aos="fade-up" data-aos-delay="200">
                        Speak to one of our technical specialists today
                    </h2>
                    <div class="section_subtitle" data-aos="fade-up" data-aos-delay="250">
                        Looking for help with your enterprise SEO ? Schedule a time to chat with one of our team members by clicking the button below and filling out the form</div>
                        <a href="{% url 'get_in_touch' %}" class="btn btn-main" data-aos="fade-up" data-aos-delay="300">
                            Chat with Us
                        </a>
                    </div>
                    <div class="service_hex__after">
                        <svg viewBox="0 0 728 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#service_hex_shadow)">
                                <path d="M364 0.000703209L6.10352e-05 116.012L728 116.012L364 0.000703209Z" fill="white" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="service_columns_text">
        <div class="container">
            <div class="service_columns_text__row">
                <div class="service_columns_text__column">
                    <h2 class="section_title" data-aos="fade-up" data-aos-delay="200">
                        An Intimate Understanding of Search Engines
                    </h2>
                    <div class="richtext" data-aos="fade-up" data-aos-delay="250">
                        <p>Our enterprise SEO team consists of some of the best in the world. We have a dedicated research and development process. A team built specifically for SEO testing is constantly implementing test tasks to judge the impact of hundreds of isolated optimization activities on the search engines. Our team is comprised of industry thought leaders, stage speakers, and serial networkers with other SEO geeks. We study search patents and obsess over the analysis aspect of campaigns to ensure we stay cutting edge.</p>
                    </div>
                </div>
                <div class="service_columns_text__column">
                    <h2 class="section_title" data-aos="fade-up" data-aos-delay="200">
                        Let’s Build you an Enterprise SEO Gameplan
                    </h2>
                    <div class="richtext" data-aos="fade-up" data-aos-delay="250">
                        <p>Enterprise campaigns are unique. Seldom do we find two alike and the investment of time and strategic resources differ only in the specifics, never in the effort needed. Few agencies are equipped for the scale, have developed tool kits specifically for large scale campaigns, and cut their teeth on billions of dollars in net worth clientele.</p>
                        <p>Any agency can talk the talk so let’s get some more information about your brand and goals, and we will have our team compose a blueprint for accomplishing those aforementioned goals.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service_benefits">
        <div class="container">
            <div class="service_benefits__list">
            <div class="service_benefits__itm service_benefits__itm--1">
                <div class="service_benefits__itm-content_wrap">
                    <div class="service_benefits__itm-content">
                        <img src="{% static "marketing/img/content/enterprize-seo/landing-page.svg" %}" width="90" height="90" alt="" class="service_benefits__itm-ico" data-aos="fade">
                        <div class="service_benefits__itm-title" data-aos="fade-up" data-aos-delay="100">
                            Data Backed Content Plans
                        </div>
                        <div class="service_benefits__itm-descr" data-aos="fade-up" data-aos-delay="150">
                            Your brand should be publishing content to help your target audience reach your website through Google search and other channels
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_benefits__itm service_benefits__itm--2">
                <div class="service_benefits__itm-content_wrap">
                    <div class="service_benefits__itm-content">
                        <img src="{% static "marketing/img/content/enterprize-seo/line-graph.svg" %}" width="90" height="90" alt="" class="service_benefits__itm-ico" data-aos="fade">
                        <div class="service_benefits__itm-title" data-aos="fade-up" data-aos-delay="100">
                            Enterprise Monitoring
                        </div>
                        <div class="service_benefits__itm-descr" data-aos="fade-up" data-aos-delay="150">
                            Track how your site performs at scale and extract opportunities, weaknesses and issues like never before.
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_benefits__itm service_benefits__itm--3">
                <div class="service_benefits__itm-content_wrap">
                    <div class="service_benefits__itm-content">
                        <img src="{% static "marketing/img/content/enterprize-seo/mail.svg" %}" width="90" height="90" alt="" class="service_benefits__itm-ico" data-aos="fade">
                        <div class="service_benefits__itm-title" data-aos="fade-up" data-aos-delay="100">
                            Email marketing
                        </div>
                        <div class="service_benefits__itm-descr" data-aos="fade-up" data-aos-delay="150">
                            From transactional emails to behavior triggered drip sequences, we're here to ensure your digital assets are performing at their peak potential
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_benefits__itm service_benefits__itm--4">
                <div class="service_benefits__itm-content_wrap">
                    <div class="service_benefits__itm-content">
                        <img src="{% static "marketing/img/content/enterprize-seo/data.svg" %}" width="90" height="90" alt="" class="service_benefits__itm-ico" data-aos="fade">
                        <div class="service_benefits__itm-title" data-aos="fade-up" data-aos-delay="100">
                            Technical On Page Analysis
                        </div>
                        <div class="service_benefits__itm-descr" data-aos="fade-up" data-aos-delay="150">
                            Large sites often suffer from a variety of technical SEO issues: keyword cannabalism, wasted crawl budget, complex redirect chains, to name a few
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_benefits__itm service_benefits__itm--5">
                <div class="service_benefits__itm-content_wrap">
                    <div class="service_benefits__itm-content">
                        <img src="{% static "marketing/img/content/enterprize-seo/compliant.svg" %}" width="90" height="90" alt="" class="service_benefits__itm-ico" data-aos="fade">
                        <div class="service_benefits__itm-title" data-aos="fade-up" data-aos-delay="100">
                            Comprehensive Audits
                        </div>
                        <div class="service_benefits__itm-descr" data-aos="fade-up" data-aos-delay="150">
                            Large websites often have technical issues that are both difficult to identify and solve. Our comprehensive deep SEO audits uncover these issues and our team of technicians can help remedy even the most painful technical SEO issue
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_benefits__itm service_benefits__itm--6">
                <div class="service_benefits__itm-content_wrap">
                    <div class="service_benefits__itm-content">
                        <img src="{% static "marketing/img/content/enterprize-seo/ip.svg" %}" width="90" height="90" alt="" class="service_benefits__itm-ico" data-aos="fade">
                        <div class="service_benefits__itm-title" data-aos="fade-up" data-aos-delay="100">
                            Multi Location Map&nbsp;Management
                        </div>
                        <div class="service_benefits__itm-descr" data-aos="fade-up" data-aos-delay="150">
                            Managing locations at enterprise scale comes with challenges. Our systems and software were built with scale in mind and we manage hundreds of thousands Google My Business listings for brands all over the planet.
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

{% endblock %}
