{% extends 'marketing/base/base.html' %}

{% load static %}

{% block body %}

    {% include 'marketing/includes/header.html' %}

    <section class="intro">
        <div class="container">

            <h1 class="intro__title page_title" data-aos="fade-up" data-aos-delay="100">
                Inventors of the <b>Growth Foundry</b> Framework
            </h1>

            <div class="intro__descr" data-aos="fade-up" data-aos-delay="150">
                Designed to Get Businesses to 6-7 Figs or Take them From 8-9 and Beyond
            </div>

            <div class="intro__hexagon">
                <svg class="intro__hexagon-bg" width="690" height="672" viewBox="0 0 690 672" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M174.5 68.5528V19.4472L214.5 0.552975L254.5 19.4472V68.5528L214.5 87.447L174.5 68.5528Z" />
                <path d="M261.5 68.5528V19.4472L301.5 0.552975L341.5 19.4472V68.5528L301.5 87.447L261.5 68.5528Z" />
                <path d="M348.5 68.5528V19.4472L388.5 0.552975L428.5 19.4472V68.5528L388.5 87.447L348.5 68.5528Z" />
                <path d="M435.5 68.5528V19.4472L475.5 0.552975L515.5 19.4472V68.5528L475.5 87.447L435.5 68.5528Z" />
                <path d="M130.5 141.553V92.4472L170.5 73.553L210.5 92.4472V141.553L170.5 160.447L130.5 141.553Z" />
                <path d="M217.5 141.553V92.4472L257.5 73.553L297.5 92.4472V141.553L257.5 160.447L217.5 141.553Z" />
                <path d="M304.5 141.553V92.4472L344.5 73.553L384.5 92.4472V141.553L344.5 160.447L304.5 141.553Z" />
                <path d="M391.5 141.553V92.4472L431.5 73.553L471.5 92.4472V141.553L431.5 160.447L391.5 141.553Z" />
                <path d="M478.5 141.553V92.4472L518.5 73.553L558.5 92.4472V141.553L518.5 160.447L478.5 141.553Z" />
                <path d="M86.5 214.553V165.447L126.5 146.553L166.5 165.447V214.553L126.5 233.447L86.5 214.553Z" />
                <path d="M173.5 214.553V165.447L213.5 146.553L253.5 165.447V214.553L213.5 233.447L173.5 214.553Z" />
                <path d="M260.5 214.553V165.447L300.5 146.553L340.5 165.447V214.553L300.5 233.447L260.5 214.553Z" />
                <path d="M347.5 214.553V165.447L387.5 146.553L427.5 165.447V214.553L387.5 233.447L347.5 214.553Z" />
                <path d="M434.5 214.553V165.447L474.5 146.553L514.5 165.447V214.553L474.5 233.447L434.5 214.553Z" />
                <path d="M521.5 214.553V165.447L561.5 146.553L601.5 165.447V214.553L561.5 233.447L521.5 214.553Z" />
                <path d="M43.5 287.553V238.447L83.5 219.553L123.5 238.447V287.553L83.5 306.447L43.5 287.553Z" />
                <path d="M130.5 287.553V238.447L170.5 219.553L210.5 238.447V287.553L170.5 306.447L130.5 287.553Z" />
                <path d="M217.5 287.553V238.447L257.5 219.553L297.5 238.447V287.553L257.5 306.447L217.5 287.553Z" />
                <path d="M304.5 287.553V238.447L344.5 219.553L384.5 238.447V287.553L344.5 306.447L304.5 287.553Z" />
                <path d="M391.5 287.553V238.447L431.5 219.553L471.5 238.447V287.553L431.5 306.447L391.5 287.553Z" />
                <path d="M478.5 287.553V238.447L518.5 219.553L558.5 238.447V287.553L518.5 306.447L478.5 287.553Z" />
                <path d="M86.5 457.447V506.553L126.5 525.447L166.5 506.553V457.447L126.5 438.553L86.5 457.447Z" />
                <path d="M173.5 457.447V506.553L213.5 525.447L253.5 506.553V457.447L213.5 438.553L173.5 457.447Z" />
                <path d="M260.5 457.447V506.553L300.5 525.447L340.5 506.553V457.447L300.5 438.553L260.5 457.447Z" />
                <path d="M347.5 457.447V506.553L387.5 525.447L427.5 506.553V457.447L387.5 438.553L347.5 457.447Z" />
                <path d="M434.5 457.447V506.553L474.5 525.447L514.5 506.553V457.447L474.5 438.553L434.5 457.447Z" />
                <path d="M521.5 457.447V506.553L561.5 525.447L601.5 506.553V457.447L561.5 438.553L521.5 457.447Z" />
                <path d="M565.5 287.553V238.447L605.5 219.553L645.5 238.447V287.553L605.5 306.447L565.5 287.553Z" />
                <path d="M43.5 384.447V433.553L83.5 452.447L123.5 433.553V384.447L83.5 365.553L43.5 384.447Z" />
                <path d="M130.5 384.447V433.553L170.5 452.447L210.5 433.553V384.447L170.5 365.553L130.5 384.447Z" />
                <path d="M217.5 384.447V433.553L257.5 452.447L297.5 433.553V384.447L257.5 365.553L217.5 384.447Z" />
                <path d="M304.5 384.447V433.553L344.5 452.447L384.5 433.553V384.447L344.5 365.553L304.5 384.447Z" />
                <path d="M391.5 384.447V433.553L431.5 452.447L471.5 433.553V384.447L431.5 365.553L391.5 384.447Z" />
                <path d="M478.5 384.447V433.553L518.5 452.447L558.5 433.553V384.447L518.5 365.553L478.5 384.447Z" />
                <path d="M565.5 384.447V433.553L605.5 452.447L645.5 433.553V384.447L605.5 365.553L565.5 384.447Z" />
                <path d="M0.5 360.553V311.447L40.5 292.553L80.5 311.447V360.553L40.5 379.447L0.5 360.553Z" />
                <path d="M87.5 360.553V311.447L127.5 292.553L167.5 311.447V360.553L127.5 379.447L87.5 360.553Z" />
                <path d="M174.5 360.553V311.447L214.5 292.553L254.5 311.447V360.553L214.5 379.447L174.5 360.553Z" />
                <path d="M261.5 360.553V311.447L301.5 292.553L341.5 311.447V360.553L301.5 379.447L261.5 360.553Z" />
                <path d="M348.5 360.553V311.447L388.5 292.553L428.5 311.447V360.553L388.5 379.447L348.5 360.553Z" />
                <path d="M435.5 360.553V311.447L475.5 292.553L515.5 311.447V360.553L475.5 379.447L435.5 360.553Z" />
                <path d="M522.5 360.553V311.447L562.5 292.553L602.5 311.447V360.553L562.5 379.447L522.5 360.553Z" />
                <path d="M609.5 360.553V311.447L649.5 292.553L689.5 311.447V360.553L649.5 379.447L609.5 360.553Z" />
                <path d="M174.5 652.553V603.447L214.5 584.553L254.5 603.447V652.553L214.5 671.447L174.5 652.553Z" />
                <path d="M261.5 652.553V603.447L301.5 584.553L341.5 603.447V652.553L301.5 671.447L261.5 652.553Z" />
                <path d="M348.5 652.553V603.447L388.5 584.553L428.5 603.447V652.553L388.5 671.447L348.5 652.553Z" />
                <path d="M435.5 652.553V603.447L475.5 584.553L515.5 603.447V652.553L475.5 671.447L435.5 652.553Z" />
                <path d="M130.5 530.447V579.553L170.5 598.447L210.5 579.553V530.447L170.5 511.553L130.5 530.447Z" />
                <path d="M217.5 530.447V579.553L257.5 598.447L297.5 579.553V530.447L257.5 511.553L217.5 530.447Z" />
                <path d="M304.5 530.447V579.553L344.5 598.447L384.5 579.553V530.447L344.5 511.553L304.5 530.447Z" />
                <path d="M391.5 530.447V579.553L431.5 598.447L471.5 579.553V530.447L431.5 511.553L391.5 530.447Z" />
                <path d="M478.5 530.447V579.553L518.5 598.447L558.5 579.553V530.447L518.5 511.553L478.5 530.447Z" />
                </svg>
            </div>

            <div class="intro__hexagon-accent_itm">
                <svg width="241" height="248" viewBox="0 0 241 248" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                    <path d="M120.5 80L80 99.1304V148.87L120.5 168L161 148.87V99.1304L120.5 80Z" fill="url(#paint0_linear)" />
                </g>
                <path opacity="0.5" d="M91 142.587V105.413L120.949 91.1082L150.897 105.413V142.587L120.949 156.892L91 142.587Z" stroke="white" stroke-width="2" />
                <path d="M120.5 117L114 120.261V128.739L120.5 132L127 128.739V120.261L120.5 117Z" fill="white" />
                <defs>
                    <filter id="filter0_d" x="0" y="0" width="241" height="248" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                    <feOffset />
                    <feGaussianBlur stdDeviation="40" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0.341176 0 0 0 0 0.694118 0 0 0 0 0.741176 0 0 0 1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <linearGradient id="paint0_linear" x1="80" y1="149.951" x2="161.195" y2="101.104" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#234DAE" />
                    <stop offset="1" stop-color="#347BCE" />
                    </linearGradient>
                </defs>
                </svg>
            </div>

            <div class="schedule-a-call-horizontal-layout"></div>

            {% comment %} <div class="intro__form" data-aos="fade-up" data-aos-delay="200">
                <div class="intro__form-field">
                    <input type="text" placeholder="Enter your Name">
                    <svg width="22" height="22">
                        <use xlink:href="{% static "marketing/img/sprite.svg#ico-user" %}"></use>
                    </svg>
                </div>
                <div class="intro__form-field">
                    <input type="text" placeholder="Enter your Phone">
                    <svg width="27" height="26">
                        <use xlink:href="{% static "marketing/img/sprite.svg#ico-tel" %}"></use>
                    </svg>
                </div>
                <button class="btn btn-main">Schedule a Call</button>
            </div> {% endcomment %}

            <div class="intro__partners">
                <div class="intro__partners-title" data-aos="fade-up" data-aos-delay="450">TRUSTED BY:</div>
                <div class="intro__partners-slider" data-aos="fade-up" data-aos-delay="500">
                <div class="intro__partners-slider__list">
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/580b57fcd9996e24bc43c537.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/Amazon_logo.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/Black+Wix+logo+Assets.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/duracloud_logo_12in.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/Gasin-logo-PNG.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/Levi's_logo.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/Microsoft-Logo-PNG-File.png" %}" alt=""></div>
                    <div class="intro__partners-itm"><img src="{% static "marketing/img/content/partners/paypal.png" %}" alt=""></div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <div class="home_info">
        <div class="container">
            <div class="home_info__grid">
                <h2 class="section_title" data-aos="fade-up" data-aos-delay="100">Proven Strategies by our 8&nbsp;Figure Portfolio of&nbsp;Agencies</h2>
                <div class="home_info__img" data-aos="fade" data-aos-delay="300">
                    <img src="{% static "marketing/img/content/home_intro.svg" %}" alt="">
                </div>
                <div class="home_info__text">
                    <div class="section_subtitle" data-aos="fade-up" data-aos-delay="150">Responsible for the Management of Many Billions
                    (Yes, with a B) in Net Worth Clientele</div>
                    <div class="richtext" data-aos="fade-up" data-aos-delay="200">
                    <p>Most agencies take this opportunity to tell you a lot about themselves.</p>
                    <p>There would be a list of generic services that mirror every other digital marketing agency, and the entire goal of the page would be to convert you into a boring 90-minute presentation that tells you the value of being mobile-optimized or how there are a lot of people using social media.</p>
                    <p>Our team designs a definitive roadmap for your company to supercharge your digital marketing efforts. We provide a transparent and measurable gameplan. We promise, you have never seen anything quite like this, and the results are unmatched.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_about" id="trigger">
        <div class="container">
            <div class="home_about__itm_wrap" id="home_about__itm-1">
            <div class="home_about__itm">
                <h2 class="section_title"  data-aos="fade-up" data-aos-delay="100">We Do Aggressive <br>SERP Coverage, Better</h2>
                <div class="home_about__itm-img"  data-aos="fade" data-aos-delay="100">
                <img src="{% static "marketing/img/content/home_about-1.svg" %}" alt="">
                </div>
                <div class="home_about__itm-text"  data-aos="fade-up" data-aos-delay="200">
                    <div class="home_about__itm-num"><div class="current">1</div>/3</div>
                <div class="home_about__itm-text__content">
                    <div class="richtext">
                    <p>There are few better, if any, long term investments into your brand than quality SEO, and we treat it as a science.</p>
                    <p>Our process ensures we are increasing the qualified traffic with buyer intent to your website. Through hiring some of the best, most prestigious SEOs in the space and acquisition of boutique and technical firms, we built a team that feverishly tests new SEO methodology and implements winning results into our campaigns. </p>
                    <p>We can guarantee an increase in traffic for your buyer intent keywords. Results where it counts.</p>
                    </div>
                    <div class="home_about__itm-text__decor"></div>
                    <div class="home_about__itm-text__bg">
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="home_about__itm_wrap" id="home_about__itm-2">
            <div class="home_about__itm">
                <h2 class="section_title"  data-aos="fade-up" data-aos-delay="100">We Build ROI Focused <br>Media Buying Machines</h2>
                <div class="home_about__itm-img"  data-aos="fade" data-aos-delay="100">
                <img src="{% static "marketing/img/content/home_about-2.svg" %}" alt="">
                </div>
                <div class="home_about__itm-text"  data-aos="fade-up" data-aos-delay="200">
                    <div class="home_about__itm-num"><div class="current">2</div>/3</div>
                <div class="home_about__itm-text__content">
                    <div class="richtext">
                    <p>We use a proprietary in-house system called A.B.S Op (Applied Behavioral Science Optimization) to not only increase the effectiveness of targeting but to also ensure we are recording the engagements users are having with your brand and programmatically tailoring follow up ads and messaging to nurture them deeper into your conversion process. </p>
                    <p>Our ad buying system is engineered to position your offers/products/services in front of 96% of your market, online. </p>
                    </div>
                    <div class="home_about__itm-text__decor"></div>
                    <div class="home_about__itm-text__bg">
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="home_about__itm_wrap" id="home_about__itm-3">
            <div class="home_about__itm">
                <h2 class="section_title"  data-aos="fade-up" data-aos-delay="100">Profitable Content Marketing <br>Backed by Data Science and AI</h2>
                <div class="home_about__itm-img"  data-aos="fade" data-aos-delay="100">
                <img src="{% static "marketing/img/content/home_about-3.svg" %}" alt="">
                </div>
                <div class="home_about__itm-text"  data-aos="fade-up" data-aos-delay="200">
                    <div class="home_about__itm-num"><div class="current">3</div>/3</div>
                <div class="home_about__itm-text__content">
                    <div class="richtext">
                    <p>No, that wasn’t an exercise in fitting as many buzzwords into a statement as possible, as much as it might seem the case. Our engineers ran hundreds of millions of traffic instances through machine learning models to map what content attracts the most traffic, and of that most popular content, what has real buyer intent. </p>
                    <p>The team at Growth Foundry has invested tens of millions of dollars in both content creation and amplifying that content. Let us show you what content you need and how to leverage it as a flagship entry point into your brand that can add real percentage points increases onto your revenue in a short period of time. </p>
                    </div>
                    <div class="home_about__itm-text__decor"></div>
                    <div class="home_about__itm-text__bg">
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="home-news"></div>

{% endblock %}
