{% extends 'marketing/base/base.html' %}

{% load static %}

{% block meta %}
    <title>Local SEO done by Local SEO veterans. We have | growthfoundry.com</title>
    <meta name="description" content="Local SEO is in our blood. We've managed local SEO campaigns for small business and national franchises alike.">
{% endblock %}

{% block body %}

    <div id="trigger-service">

        <div id="stiky-img" data-aos="fade" data-aos-delay="400">
            <img src="{% static "marketing/img/content/local-seo.svg" %}" alt="">
        </div>

        <div id="trigger-service-section-1">

            {% include 'marketing/includes/header.html' %}

            <div class="container" data-aos="fade" data-aos-delay="700">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Local-SEO</li>
                    </ul>
                </div>
            </div>

            <section class="service_intro service_intro--one_page">
                <div class="container">
                    <div class="service_intro__grid service_intro__grid--small service_intro__grid--align_top0">
                        <h2 class="section_title service_intro__title" data-da=".service_intro__title-pc, 1024" data-aos="fade-up" data-aos-delay="100">
                            A Local SEO Service You Can Bank On
                        </h2>
                        <div class="service_intro__img">
                            <img src="{% static "marketing/img/content/local-seo.svg" %}" alt="">
                        </div>
                        <div class="service_intro__text">
                            <div class="service_intro__title-pc"></div>
                            <div class="section_subtitle" data-aos="fade-up" data-aos-delay="150">
                                Local SEO Company Comprised of Thought Leaders in the Space for business and personal use
                            </div>
                            <div class="richtext" data-aos="fade-up" data-aos-delay="200">
                                <p>It is easy for someone to say they are the best at something. Its cliche. Over time marketers made superlatives lose their meaning. I am not going to insult your intelligence or the many capable local SEO agencies out there that you might come in contact with by saying we are the “best”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <section class="service_hex_section"  id="trigger-service-section-2">
            <div class="container">
                <div class="service_hex">
                    <div class="service_hex__before">
                        <svg viewBox="0 0 728 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#service_hex_shadow)">
                                <path d="M364 0.000703209L6.10352e-05 116.012L728 116.012L364 0.000703209Z" fill="white" />
                            </g>
                        </svg>
                    </div>
                    <div class="service_hex__content">
                        <h2 class="section_title" data-aos="fade-up" data-aos-delay="200">
                            We offer a full range of digital marketing
                        </h2>
                        <div class="section_subtitle" data-aos="fade-up" data-aos-delay="250">
                            Contact us today to speak to one of our Local SEO specialists and find out how we can help get your business in front of more local customers.
                        </div>
                        <a href="{% url 'get_in_touch' %}" class="btn btn-main" data-aos="fade-up" data-aos-delay="300">
                            Learn More
                        </a>
                    </div>
                    <div class="service_hex__after">
                        <svg viewBox="0 0 728 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#service_hex_shadow)">
                                <path d="M364 0.000703209L6.10352e-05 116.012L728 116.012L364 0.000703209Z" fill="white" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section class="service_slider">
        <div class="container">
            <div class="service_slider__slider">
                <div class="service_slider__slider-pagination">1/4</div>
                <div class="service_slider__slider-nav">
                    <button class="service_slider__slider-prev">
                        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 14L2 7.5L8 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                    <button class="service_slider__slider-next">
                        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 7.5L1 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="service_slider__slider-list">

                    <div class="service_slider__itm">
                        <div class="service_slider__itm-title section_title" data-aos="fade-up" data-aos-delay="100">
                            Local SEO Experts
                        </div>
                        <div class="service_slider__itm-picture" data-aos="fade" data-aos-delay="300">
                            <img src="{% static "marketing/img/content/seo-slider-1.jpg" %}" alt="">
                            <p class="service_slider__itm-picture_legend">SEO that gets results, period</p>
                        </div>
                        <div class="service_slider__itm-descr">
                            <div class="service_slider__itm-title section_title" data-aos="fade-up" data-aos-delay="100">
                                Local SEO Experts
                            </div>
                            <div class="richtext" data-aos="fade-up" data-aos-delay="150">
                                <p>
                                    If there is one space where we have a lot of accolades to showcase it would be in the Local SEO arena. There’s a culmination of factors that allowed us to become authorities when pushing sites up the Local SERPs and
                                    ranking Google My Business profiles in the map pack.
                                    From our research and development team, to the strategists that handle then planning,
                                    and the mechanics that implement our framework, Growth Foundry is composed of thought leaders in the space.
                                    We run large groups dedicated to helping people improve their Local SEO.
                                    We own large SaaS platforms servicing small businesses and helping everyone enhance their
                                    Local SEO. Our members are often featured on expert panels, speaking on stages, and
                                    innovating as well as sharing new strategies and concepts with the industry.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="service_slider__itm">
                        <div class="service_slider__itm-title section_title"></div>
                        <div class="service_slider__itm-picture">
                            <img src="{% static "marketing/img/content/seo-slider-2.png" %}" alt="">
                            <p class="service_slider__itm-picture_legend"></p>
                        </div>
                        <div class="service_slider__itm-descr">
                            <div class="service_slider__itm-title section_title">A Journey that Starts with Data</div>
                            <div class="richtext">
                                <p>
                                    Through our tech stacks we have access to data on almost two million Google My Business profiles.
                                    When there are fluctuations in the local SEO ecosystem we are some of the first people to see
                                    that turbulence reflected in the data we have. We consistently get to see what works,
                                    what is affected by updates, and the effects rankings have when certain strategies are applied.
                                    Our experience working on thousands of GMBs through our client agencies have afforded us strategies
                                    to circumvent the most complex issues that arise with algorithmic filters, listing issues, etc. in the local SERPs.
                                    Access to millions of data points has granted us an unfair advantage and we leverage that to the best of our ability for your
                                    campaigns.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="service_slider__itm" style="display: block">
                        <div class="service_slider__itm-title section_title"></div>
                        <div class="service_slider__itm-descr" style="width: 100%;">
                            <div class="service_slider__itm-title section_title">Buildings Without Foundations Crumble</div>
                            <div class="richtext">
                                <p>
                                    Imagine a beautiful home, a mansion even, constructed by artisans of the highest caliber.
                                    All of the amenities of a luxury home present, architected without a care for budget.
                                    Now imagine the builders skipped the foundation and started driving the frame for the home directly into the dirt. How long would this home last? The answer is it would never even get erected because home inspectors would disallow it, but I digress.
                                    The home would crumble. It would fall into the dirt and all would be for naught.
                                    What I just described is most people’s Local SEO campaigns. Agencies take on projects and look
                                    for the quickest and most cost efficient ways to try and manipulate your rankings. These campaigns are riddled with shortcuts and hackneyed strategies.
                                    We start with a several hundred point technical audit and ensure your GMB profile as well as your
                                    website is going to be eligible to rank. Few understand that organic and GMB rankings are becoming
                                    more blended than ever in the sense that Google is looking closer at website
                                    relevance and authority, but we do, and we make sure your bases are covered so you
                                    dominate local search.
                                </p>
                            </div>
                        </div>
                        <div class="service_slider__itm-picture" style="max-width: 900px; padding: 0;">
                            <img src="{% static "marketing/img/content/seo-slider-3.png" %}" alt="">
                            <p class="service_slider__itm-picture_legend"></p>
                        </div>
                    </div>

                    <div class="service_slider__itm">
                        <div class="service_slider__itm-title section_title"></div>
                        <div class="service_slider__itm-picture">
                            <img src="{% static "marketing/img/content/seo-slider-4.png" %}" alt="">
                            <p class="service_slider__itm-picture_legend"></p>
                        </div>
                        <div class="service_slider__itm-descr">
                            <div class="service_slider__itm-title section_title">GMB and Local SEO Optimization</div>
                            <div class="richtext">
                                <p>
                                    There are three signals Google looks at to rank your website and GMB locally.
                                    Relevance, Prominence, and Proximity, meaning where the person performing the search
                                    is compared to the address of the business while Google weighs additional geospatial factors
                                    before they produce a result.
                                    We employ white hat strategies to improve your brand visibility by building and
                                    earning assets that feed Google signals that fall into one or more of those categories.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service_slider__itm">
                        <div class="service_slider__itm-title section_title"></div>
                        <div class="service_slider__itm-picture">
                            <img src="{% static "marketing/img/content/seo-slider-5.png" %}" alt="">
                            <p class="service_slider__itm-picture_legend"></p>
                        </div>
                        <div class="service_slider__itm-descr">
                            <div class="service_slider__itm-title section_title">Comprehensive Reporting and Tracking of KPIs that Matter</div>
                            <div class="richtext">
                                <p>
                                    By blending Google Analytics data with our proprietary GMB KPI monitoring
                                    and visceral rank tracking system engineered specifically to accurately track local business positioning
                                    on a GPS coordinate level.
                                    We track and display every click, call, and any other conversion for your campaign and
                                    compose transparent reporting for you and your team to review.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service_columns_text">
        <div class="container">
            <div class="service_columns_text__row">
            <div class="service_columns_text__column">
                <h2 class="section_title" data-aos="fade-up" data-aos-delay="100">
                    Discussing Client <br>Agency Fit
                </h2>
                <div class="richtext" data-aos="fade-up" data-aos-delay="150">
                    <p>We typically work with clients at the top of their market or willing to invest in getting there. Small businesses that need a few more leads per month won’t be a good fit. Go ahead and reach out and we can refer you to some amazing smaller shops, but we tend to work with a more exclusive clientele.</p>
                    <p>A lot of our Local SEO business consists of franchises and multi-location businesses that benefit from having a strong local presence across their locations. A lot of our clients with fewer than ten locations live in legal and health niches.</p>
                    <p>The final, smaller percentage of clients work within a grab bag of niches but they all have one very similar digital marketing goal...to dominate their local market.</p>
                </div>
            </div>
            <div class="service_columns_text__column">
                <h2 class="section_title" data-aos="fade-up" data-aos-delay="200">
                    Let's Build a Local <br>SEO Roadmap
                </h2>
                <div class="richtext" data-aos="fade-up" data-aos-delay="250">
                    <p>Shoot us over some information and we can spend some time performing an intensive audit and putting together a gameplan for your campaign. This is not a cookie cutter audit that most shops perform using some run of the mill tool.</p>
                    <p>We will leverage our proprietary tech stack and a dozen or more hours from our Local SEO team to really take a deep dive into your current SEO plan and show you the path to better rankings and more business.</p>
                </div>
            </div>
            </div>
        </div>
    </section>

{% endblock %}
