-----BEGIN CERTIFICATE-----
MIIDEDCCAfgCCQDPvtvc9O+F1zANBgkqhkiG9w0BAQsFADBKMQswCQYDVQQGEwJU
UjERMA8GA1UECAwITmV3IFlvcmsxEjAQBgNVBAoMCWxvY2FsaG9zdDEUMBIGA1UE
CwwLRGV2ZWxvcG1lbnQwHhcNMjExMDA2MTkyNjE2WhcNMjIxMDA2MTkyNjE2WjBK
MQswCQYDVQQGEwJUUjERMA8GA1UECAwITmV3IFlvcmsxEjAQBgNVBAoMCWxvY2Fs
aG9zdDEUMBIGA1UECwwLRGV2ZWxvcG1lbnQwggEiMA0GCSqGSIb3DQEBAQUAA4IB
DwAwggEKAoIBAQDIjoJRCYNX7nTYdDwFTWiq/G8Hn1k8Fu6At+kbBtIyskF0Vhme
ZAOweI/UztgW4odKuVkL47/Y9syYzuOrVgElaraIQT9bEVfccJh22G1w73kdZrM4
+FsLL4xVZl5tKQuMlCmyBCpk6uHZ5IIgDooOvlvFHUDQvGkQ12JGB3prnnaPvJvx
Mvi0ckUIze91Tj8cTkzB9zRp4p3IstgvW2YCYveKNPhNbUrIoy+93yD66bpfC/ZZ
36RFsbmM3/3Ug32JP9mrR22QkQYXKcqmnFL6ktvnK+lwtJOUOTMr00NLCqcWBrsz
7c4uk9+PQHvy5RCZseJ1bv+OfjLjPMjS8yFnAgMBAAEwDQYJKoZIhvcNAQELBQAD
ggEBAB3CoF7bVgAHUwlXNOpp0XE//0vt6tV/hHhva44PFBmaj4lzGSdZYqAPW3WT
z0mu+YAxQSwfnpTePzp3v7/bC9fer0H41V2iUKXSa0XIxZsmY8mv+B5EKZ0gjgH+
MpAdf9+TdEMAmP/SNA6yqyl4l5xS/CjbVOQAd16BB2h1DgOfeV58qEtO2aHiAvQK
v7yVnyQrvIwD5oklvd7cRsnprCXndAlP6vZrIguBJWhQPQJw2uPKDila38BzkpCp
LbafU+cdCz7Ry84x16LQAk3E6NCfV8yBiLJvwhtzowS97kcBnVfv3AbReVr7ldvC
VF3QmZ8sCyQD4EcQ3euWcQ7JCqA=
-----END CERTIFICATE-----
